<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{$_G[title]}</title>
    <meta name="keywords" content="{$_G[keywords]}">
    <meta name="description" content="{$_G[description]}">
    <link rel="stylesheet" type="text/css" href="/static/css/seller.css">
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/jquery.form.js" type="text/javascript"></script>
    <script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.dsxui.js" type="text/javascript"></script>
</head>
<body>
<div class="membercp-header">
    <strong class="logo">卖家中心</strong>
    <div class="right-menu">
        <a href="{U:('/')}" target="_blank">网站首页</a>
    </div>
</div>
<div class="sidebar">
    <div class="sidebar-content">
        <div class="scroll">
            <div class="menus">
                <dl>
                    <dd><a><i class="icon">&#xf0135;</i>我的店铺</a></dd>
                    <dt>
                        <ul>
                            <li><a href="{U:('c=shop')}"{if $_GET[menu]=="shop_set"} class="cur"{/if}>店铺设置</a></li>
                        </ul>
                    </dt>
                </dl>

                <dl>
                    <dd><a><i class="icon">&#xf013e;</i>宝贝管理</a></dd>
                    <dt>
                        <ul>
                            <li><a href="{U:('c=goods&a=sell')}"{if $_GET[menu]=="sell"} class="cur"{/if}>发布宝贝</a></li>
                            <li><a href="{U:('c=goods&a=itemlist&type=1')}"{if $_GET[menu]=="on_sale_goods"} class="cur"{/if}>出售中的宝贝</a></li>
                            <li><a href="{U:('c=goods&a=itemlist&type=2')}"{if $_GET[menu]=="off_sale_goods"} class="cur"{/if}>仓库中的宝贝</a></li>
                        </ul>
                    </dt>
                </dl>
                <dl>
                    <dd><a><i class="icon">&#xf0130;</i>交易管理</a></dd>
                    <dt>
                        <ul>
                            <li><a href="{U:('c=sold')}"{if $_G[menu]=="sold_item"} class="cur"{/if}>已卖出的宝贝</a></li>
                        </ul>
                    </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="mainframe">
    <div class="main-content">
        <div class="scrollView">