{template header}
<div class="navigation">
    <a>我是卖家</a>
    <span>></span>
    <a>店铺设置</a>
    <span>></span>
    <a>基本设置</a>
</div>
<div class="content-div">
    <div class="tab-console">
        <span class="item cur">基本信息</span>
        <span class="item">店铺认证</span>
    </div>
    <div class="form-div">
        <form method="post" id="shopForm" autocomplete="off">
            <input type="hidden" name="formsubmit" value="yes">
            <input type="hidden" name="formhash" value="{FORMHASH}">
            <table cellspacing="0" cellpadding="0" width="100%" class="formtable">
                <tbody>
                <tr>
                    <td class="cell-name" width="80">店铺名称</td>
                    <td><input type="text" name="shop[shop_name]" id="shop_name" class="input-text w300" value="{$shop[shop_name]}"></td>
                </tr>
                <tr>
                    <td class="cell-name">联系电话</td>
                    <td><input type="text" name="shop[phone]" id="phone" class="input-text w300" value="{$shop[phone]}"></td>
                </tr>
                <tr>
                    <td class="cell-name">店铺标志</td>
                    <td>
                        <input type="hidden" name="shop[shop_logo]" value="{$shop[shop_logo]}" id="shop_logo">
                        <img src="{img $shop[shop_logo]}" width="100" height="100" id="shop_logo_img">
                        <p>
                            <span class="button button-cancel" style="border-radius: 5px;" id="upload-btn">上传图标</span>
                            <span>文件格式GIF、JPG、JPEG、PNG文件大小100K以内，建议尺寸150PX*150PX</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">店铺简介</td>
                    <td>
                        <textarea class="textarea" name="shop[intro]" style="width: 300px; height: 80px;" placeholder="【掌柜签名】/【店铺动态】/【主营宝贝】">{$shop[intro]}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">经营地址</td>
                    <td>
                        <select class="select" name="shop[province]" id="province" style="width: auto;">
                            <option value="">请选择</option>
                        </select>
                        <select class="select" name="shop[city]" id="city" style="width: auto;">
                            <option value="">请选择</option>
                        </select>
                        <select class="select" name="shop[county]" id="county" style="width: auto;">
                            <option value="">请选择</option>
                        </select>
                        <input type="text" name="shop[street]" id="street" class="input-text w300" value="{$shop[street]}" placeholder="街道地址">
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">主要货源</td>
                    <td>
                        <label><input type="radio" class="radio" name="shop[main_source]" value="1"{if $shop[main_source]=="1"||!$shop[main_source]} checked{/if}> 自己生产</label>
                        <label><input type="radio" class="radio" name="shop[main_source]" value="2"{if $shop[main_source]=="2"} checked{/if}> 代工生产</label>
                        <label><input type="radio" class="radio" name="shop[main_source]" value="3"{if $shop[main_source]=="3"} checked{/if}> 线下批发</label>
                        <label><input type="radio" class="radio" name="shop[main_source]" value="4"{if $shop[main_source]=="4"} checked{/if}> 分销代销</label>
                        <label><input type="radio" class="radio" name="shop[main_source]" value="5"{if $shop[main_source]=="5"} checked{/if}> 自由渠道</label>
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">店铺介绍</td>
                    <td>
                        <div style="width: 660px;">{template editor}</div>
                    </td>
                    <td class="cell-tips"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td width="80"></td>
                    <td colspan="2"><button type="submit" class="button btn-100" id="button-submit">提交</button></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var district = new DistrictSelector({
            province:'{$shop[province]}',
            city:'{$shop[city]}',
            county:'{$shop[county]}'
        });
        $("#upload-btn").on('click', function () {
            DSXUI.showImagePickerView({
                onPicked:function (data) {
                    $("#shop_logo_img").attr('src', data.imageurl);
                    $("#shop_logo").val(data.image);
                }
            });
        });
        $("#shopForm").on('submit', function () {
            var shop_name = $.trim($("#shop_name").val());
            if (!shop_name) {
                DSXUI.error('请输入店铺名称');
                return false;
            }
            var phone = $.trim($("#phone").val());
            if (!DSXValidate.IsMobile(phone)){
                DSXUI.error('手机号码输入错误');
                return false;
            }
        });
    });
</script>
{template footer}