{template header}
<div class="console-title">
	<div class="float-right">
    	<form method="get" action="/">
        <input type="hidden" name="m" value="{$G[m]}">
        <input type="hidden" name="c" value="{$G[c]}">
        <input type="hidden" name="a" value="{$G[a]}">
    	<input type="text" name="keyword" class="input-text" placeholder="关键字"> 
        <input type="submit" class="button" value="搜索">
        </form>
    </div>
	<ul class="tab">
    	<li class="on"><a href="{echo U('a='.$G[a].'&tab=all')}">收藏夹</a></li>
    </ul>
</div>

<div class="content-div">
	<table cellpadding="0" cellspacing="0" width="100%" border="0" class="listtable">
    	<thead>
        	<tr>
            	<th width="60">图片</th>
            	<th>标题</th>
                <th width="200">时间</th>
                <th width="65">选项</th>
            </tr>
        </thead>
        <tbody>
        	{loop $itemlist $favid $item}
            <tr id="favorite-item-{$favid}">
            	<td><div class="pic"><a href="/?m=post&c=detail&id={$item[dataid]}" target="_blank"><img src="{echo image($item[image])}"></a></div></td>
            	<td>
                	<h3 class="title"><a href="/?m=post&c=detail&id={$item[dataid]}" target="_blank">{$item[title]}</a></h3>
                </td>
                <td>{echo @date('Y-m-d H:i:s', $item[dateline])}</td>
                <td><a rel="a-remove-favorite" data-id="{$favid}">取消收藏</a></td>
            </tr>
            {/loop}
        </tbody>
    </table>
</div>
<div class="pagination">{$pages}</div>
<script type="text/javascript">
$("a[rel=a-remove-favorite]").confirm({
	text:'确定要取消收藏吗?',
	onConfirm:function(view,o){
		var favid = $(o).attr('data-id');
		$.ajax({
			url:'{echo U("m=mcenter&c=favorite&a=remove")}',
			data:{favid:favid},
			dataType:"json",
			success: function(json){
				if(json.errcode == 0){
					$("#favorite-item-"+favid).remove();
					DSXUI.success('取消收藏成功');
				}
			}
		});
	}
});
</script>
{template footer}