{template header}
<div class="area cart">
    <div class="cart-filter-bar">
        <span>总计{$totalnum}件商品</span>
        <strong>全部商品</strong>
    </div>
    <div class="cart-main">
        <form method="post" id="J_Frmcart" autocomplete="off" action="{U:('m=buy&c=order&a=confirm_order')}">
            <div class="cart-table-th">
                <table cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                        <tr>
                            <th width="100">
                                <label>
                                    <input type="checkbox" class="checkbox checkall checkmark">
                                    <span>全选</span>
                                </label>
                            </th>
                            <th>商品信息</th>
                            <th width="100">单价</th>
                            <th width="120">数量</th>
                            <th width="100">金额</th>
                            <th width="100">操作</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            {if $itemlist}
            {loop $itemlist $item}
            <div class="cart-item">
                <h3>店铺: <a href="{U:('m=shop&c=viewshop&shop_id='.$item[shop_id])}" target="_blank">{$item[shop_name]}</a></h3>
                <div class="order-content">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        {eval $index=0}
                        {loop $item[goods] $goods_id $goods}
                        {eval $index++}
                        <tbody id="item-{$goods_id}">
                            <tr{if $index==1} class="first"{/if}>
                                <td class="item-info">
                                    <input type="hidden" id="J_goods_price_{$goods_id}" value="{$goods[goods_price]}">
                                    <div class="chk"><input type="checkbox" class="checkbox checkmark J_CheckBoxItem" name="items[]" value="{$goods[goods_id]}"></div>
                                    <div class="g-pic bg-cover lazyload" data-original="{img $goods[goods_thumb]}">
                                        <a href="{U:('m=goods&c=item&id='.$goods_id)}" target="_blank"></a>
                                    </div>
                                    <div class="g-info">
                                        <div class="g-name"><a href="{U:('m=goods&c=item&id='.$goods_id)}" target="_blank">{$goods[goods_name]}</a></div>
                                    </div>
                                </td>
                                <td width="100"></td>
                                <td width="100"><strong>￥{amount:$goods[goods_price]}</strong></td>
                                <td width="120">
                                    <div class="quantity-inner">
                                    <span class="btn opLeft" data-id="{$goods_id}">-
                                    </span><input type="text" class="text" value="{$goods[goods_number]}" id="quantity_{$goods_id}"><span class="btn opRight" data-id="{$goods_id}">+</span>
                                    </div>
                                </td>
                                <td width="100"><strong style="color: #f40;" id="simple_price_{$goods_id}">￥{amount:$goods[total_fee]}</strong></td>
                                <td width="100">
                                    <p><a>移入收藏夹</a></p>
                                    <p><a rel="delete" data-id="{$goods_id}">删除</a></p>
                                </td>
                            </tr>
                        </tbody>
                        {/loop}
                    </table>
                </div>
            </div>
            {/loop}
            {else}
            <div class="noaccess"><a href="{U:('/')}">购物车空空也, 快去选购宝贝吧</a></div>
            {/if}
        </form>
    </div>
    <div class="float-bar">
        <div class="wrap">
            <div class="chk">
                <input type="checkbox" class="checkbox checkall checkmark" autocomplete="off">
                <span>全选</span>
            </div>
            <div class="operations">
                <a id="multi-delete">删除</a>
                <a>移入收藏夹</a>
            </div>
            <div class="right">
                <div class="item-sum">已选中<strong id="total_count">0</strong>件商品</div>
                <div class="item-sum">合计 (不含运费): <strong id="total_fee">0.00</strong></div>
                <div class="submit-btn btn-disabled" id="submit-btn">结算</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        function checkSubmit() {
            if($(".J_CheckBoxItem:checked").length > 0) $("#J_Frmcart").submit();
        }
        function settlement() {
            var total_count = 0, total_fee = 0;
            $(".J_CheckBoxItem:checked").each(function () {
                var goods_id = $(this).val();
                var goods_number = parseInt($("#quantity_"+goods_id).val());
                var goods_price = $("#J_goods_price_"+goods_id).val();
                total_count+= goods_number;
                total_fee+= goods_price * goods_number;
            });
            $("#total_count").text(total_count.toString());
            $("#total_fee").text(total_fee.toFixed(2));
        }
        $(document).on('click', function () {
            if($(".J_CheckBoxItem:checked").length > 0){
                $("#submit-btn").removeClass("btn-disabled").off('click').on('click', checkSubmit);
            }else {
                $("#submit-btn").addClass("btn-disabled").off('click');
            }
        });
        var spinner = null;
        $("a[rel=delete]").on('click', function (e) {
            var goods_id = $(this).attr('data-id');
            DSXUI.showConfirm('确认要删除该宝贝吗？', function () {
                $.ajax({
                    url:"{U:('m=cart&c=index&a=delete')}",
                    data:{goods_id:goods_id},
                    dataType:'json',
                    beforeSend:function () {
                        spinner = DSXUI.showSpinner();
                    },
                    success:function (response) {
                        setTimeout(function () {
                            spinner.close();
                            if (response.errcode == 0){
                                $("#item-"+goods_id).remove();
                                settlement();
                            }else {
                                DSXUI.error(response.errmsg);
                            }
                        }, 300);
                    }
                });
            });
        });

        $("#multi-delete").on('click', function () {
            if ($(".J_CheckBoxItem:checked").length > 0){
                var ids = [];
                $(".J_CheckBoxItem:checked").each(function () {
                    ids.push($(this).val());
                });
                DSXUI.showConfirm('确认要删除所选宝贝吗', function () {
                    $.ajax({
                        url:"{U:('m=cart&c=index&a=delete')}",
                        data:{goods_id:ids.join(',')},
                        dataType:'json',
                        beforeSend:function () {
                            spinner = DSXUI.showSpinner();
                        },
                        success:function (response) {
                            setTimeout(function () {
                                spinner.close();
                                if (response.errcode == 0){
                                    DSXUtil.reFresh();
                                }else {
                                    DSXUI.error(response.errmsg);
                                }
                            }, 300);
                        }
                    });
                });
            }
        });
        $(".opLeft").on('click', function () {
            var goods_id = $(this).attr('data-id');
            var goods_number = $("#quantity_"+goods_id).val();
            var goods_price = $("#J_goods_price_"+goods_id).val();
            if (goods_number <= 1) {
                return false;
            }else {
                goods_number--;
                var simple_price = (goods_price*goods_number).toFixed(2);
                $("#quantity_"+goods_id).val(goods_number);
                $("#simple_price_"+goods_id).text('￥'+simple_price);
                $.ajax({
                    type:'POST',
                    url:"{U:('m=cart&c=index&a=update_num')}",
                    data:{goods_id:goods_id, goods_number:goods_number},
                    dataType:'json',
                    beforeSend:function () {
                        spinner = DSXUI.showSpinner();
                        settlement();
                    },
                    success:function (response) {
                        setTimeout(function () {
                            spinner.close();
                        }, 500);
                    }
                });
            }
        });

        $(".opRight").on('click', function () {
            var goods_id = $(this).attr('data-id');
            var goods_number = $("#quantity_"+goods_id).val();
            var goods_price = $("#J_goods_price_"+goods_id).val();

            goods_number++;
            var simple_price = (goods_price*goods_number).toFixed(2);
            $("#quantity_"+goods_id).val(goods_number);
            $("#simple_price_"+goods_id).text('￥'+simple_price);
            $.ajax({
                type:'POST',
                url:"{U:('m=cart&c=index&a=update_num')}",
                data:{goods_id:goods_id, goods_number:goods_number},
                dataType:'json',
                beforeSend:function () {
                    spinner = DSXUI.showSpinner();
                    settlement();
                },
                success:function (response) {
                    setTimeout(function () {
                        spinner.close();
                    }, 500);
                }
            });
        });

        $(".checkall, .J_CheckBoxItem").on('click', settlement);
    });
</script>
{template footer}