@import "common.css";
.area{width: 1180px; display: block; margin: 0 auto; clear: both;}
.header{display: block;}
.header .top{
    background-color: #F7F7F7; height: 35px; line-height: 35px;
    padding: 0 10px; border-bottom: 1px #CCC solid; font-size: 12px;
}
.header .banner{display: block; padding: 20px 0;}
.header .global-logo{height: 60px; float: left; width: 240px;}
.header .global-logo img{height: 60px; width: auto; display: block;}
.header .global-search-box{height: 60px; width: 600px; float: left; position: relative; padding-top: 7px;}
.header .global-search-box .input-box{
    height: 34px; border: 2px #CF072C solid; width: 500px; position: relative;
}
.header .global-search-box .text{
    position: absolute; left: 0; top: 0; bottom: 0;
    border: 0; background: none; width: 460px; height: 30px;
    font-size: 14px; font-weight: 400; color: #333; padding: 0 10px;
}
.header .global-search-box .btn{
    background-color: #CF072C; color: #fff; position: absolute; border: none; width: 60px; cursor: pointer;
    top: 0; right: 0; bottom: 0; text-align: right; font-size: 16px; font-weight: bold; text-align: center;
}
.header .global-search-box .hot{display: block; padding-top: 10px; font-size: 12px; line-height: 1.0; color: #666;}
.header .phone{height: 60px; overflow: hidden; padding-top: 15px;}
.header .phone span{font-size: 14px; color: #666;}
.header .phone .phone-num{font-size: 22px; font-weight: bold; color: #CF072C;}
.global-nav{background-color: #019CE4; color: #fff; display: block; height: 38px; clear: both;}
.global-nav .nav{width: 1190px; display: block; height: 38px; position: relative; margin: 0 auto;}
.global-nav .nav .cat{width: 160px; height: 38px; line-height: 38px; text-align: center; font-size: 15px; float: left;}
.global-nav .nav ul{float: left;}
.global-nav .nav ul li{height: 38px; float: left; border-left: 1px #0289CB solid;}
.global-nav .nav ul li a{display: block; padding: 0 20px; line-height: 38px; color: #fff; font-size: 15px;}
.global-nav .nav ul li a.cur{background-color: #CF072C;}
.global-nav .nav .cart{position: absolute; height: 38px; line-height: 38px; top: 0; right: 0;}
.global-nav .nav .cart .icon-cart{
    width: 24px; height: 24px; float: left; margin: 7px 10px 0 0;
    background-image: url("../images/cugeng/icon-cart.png");
    background-size: 100% 100%;
}
.global-nav .nav .cart span{margin-right: 10px;}

/*===首页左侧分类面板===*/
.category-panel{width: 160px; float: left; position: relative;}
.category-panel .cat-list{background-color: #009BE7; display: block;}
.category-panel .cat-list li{
    height: 33px; line-height: 33px; border-bottom: 1px #0192D8 solid; font-size: 14px;
}
.category-panel .cat-list li a{
    display: block; padding: 0 8px 0 35px;
    background-image: url("../images/cugeng/dian.png");
    background-repeat: no-repeat; background-position: 10px center;
    background-size: 8px 8px;
}
.category-panel .cat-list li a:hover{color: #ffffff;}
.category-panel .cat-list li a span{
    background-image: url("../images/cugeng/arrow-r.png");
    background-repeat: no-repeat; background-position: right center;
    background-size: 16px 16px; display: block;
}

.home-main{margin-left: 170px; position: relative; overflow: hidden; padding-top: 10px;}
.home-main #swiper-div{width: 780px; height: 286px;}
.home-main .news{position: absolute; width: 230px; height: 286px; right: 0; top: 10px;}
.home-main .news .content{border: 1px #CCC solid; display: block;}
.home-main .news .content h3{
    font-size: 14px; padding: 7px 0 ;text-align: center;
    background-color: #F7F7F7; color: #000; border-bottom: 1px #ccc solid;
}
.home-main .news .content ul{display: block; padding: 5px 10px;}
.home-main .news .content ul li{height: 24px; line-height: 24px; overflow: hidden; display: block; font-size: 12px;}

.home-main .best-goods{display: block; margin-top: 10px; clear: both;}
.home-main .best-goods li{width: 25%; float: left;}
.home-main .best-goods li .bd{display: block; padding-top: 50%; position: relative;}
.home-main .best-goods li .bd img{width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0;}

/*===首页优选===*/
.home-youxuan{display: block; width: 1000px; float: left;}
.home-youxuan .tabs{display: block;}
.home-youxuan .tabs li{width: 20%; float: left; padding: 10px 0; text-align: center; font-size: 16px; border-bottom: 2px #9A9A9A solid;}
.home-youxuan .tabs li.cur{border-color: #FF0000; color: #FF0000;}
.home-youxuan .glist{display: block; border: 1px #CCC solid; padding: 20px 0; height: 296px;}
.home-youxuan .glist li{width: 20%; float: left; overflow: hidden;}
.home-youxuan .glist li .bd{display: block; margin: 0 20px;}
.home-youxuan .glist li .pic{display: block; padding-top: 100%; position: relative;}
.home-youxuan .glist li .pic img{width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0;}
.home-youxuan .glist li .name{height: 30px; line-height: 30px; overflow: hidden; font-size: 14px;}
.home-youxuan .glist li .price{display: block;}
.home-youxuan .glist li .price .shop-price{font-size: 18px; color: #FF0000; margin-right: 20px;}
.home-youxuan .glist li .price .market-price{font-size: 12px; color: #888;}
.home-youxuan .glist li .buynow{display: block; padding: 10px 0 0;}
.home-youxuan .glist li .buynow .btn{
    background-color: #DC204F; color: #fff; display: block; margin: 0 auto;
    width: 60%; text-align: center; height: 30px; line-height: 30px; font-size: 14px;
}
.home-tegong{float: right; width: 180px; height: 254px;}
.home-tegong h3{padding: 10px 0; border-bottom: 2px #9A9A9A solid; color: #FF0000;}
.home-tegong .pic{display: block; border: 1px #ddd solid; height: 296px;}
.home-tegong .pic .img{width: 100%; height: 100%;}

/*==浏览路径==*/
.yourpos{display: block; padding: 15px 0; font-size: 14px; background-color: #F2F2F2;}

/*==商品详情==*/
.preview-wrap{width: 400px; float: left;}
.preview{width:400px; height:465px; margin:0;}
/* bigImg */
.preview .bigImg{position:relative; display: block; height:400px; overflow:hidden;}
.preview .bigImg #midimg{width:400px; height:400px;}
.preview .bigImg #winSelector{width:235px; height:210px;}
/* smallImg */
.preview .smallImg{position:relative; height:52px; margin-top:3px; background-color:#F1F0F0; padding:0px; display: block; overflow:hidden;}
.preview .smallImg .scrollbutton{width:14px; height:50px; overflow:hidden; position:absolute; cursor:pointer; }
.preview .smallImg .smallImgUp {left: 0; top: 1px; background:url(../images/common/d_08.png) no-repeat;}
.preview .smallImg .smallImgDown {top: 1px; right: 0px; background:url(../images/common/d_09.png) no-repeat;}
.preview .smallImg .disabled{background:url(../images/common/d_08.png) no-repeat;}

.preview #imageMenu {height:50px; display: block; overflow:hidden; padding: 0 14px;}
.preview #imageMenu ul{display: block; margin: 0;}
.preview #imageMenu li {height:50px; width: 58px; overflow:hidden; float:left; text-align:center; margin: 0 3px;}
.preview #imageMenu li .bd{cursor: pointer; display: block; margin: 0 5px;}
.preview #imageMenu li img{cursor:pointer; width: 100%; height: 100%; margin: 0; box-sizing: border-box;}
.preview #imageMenu li#onlickImg img,
.preview #imageMenu li:hover img{border:3px solid #959595;}

.preview #winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
/* bigView */
.preview #bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;}
.preview #bigView img{position:absolute;}

.iteminfo-wrap{float: left; margin-left: 30px; width: 530px; font-size: 12px; position: relative;}
.iteminfo-wrap .item-name{font-size: 16px; line-height: 1.3; padding: 10px 0; color: #333;}
.iteminfo-wrap .item-brief{padding: 0 0 15px 0; font-size: 13px; line-height: 1; display: block; color: #666;}
.iteminfo-wrap .item-group{padding:10px; display: block; position: relative;}
.iteminfo-wrap .item-group .label{width: 80px; font-size: 12px; height: 22px; line-height: 22px; float: left; color: #888; font-family: simsun;}
.iteminfo-wrap .item-group .info{float: left;}
.iteminfo-wrap .price-wrap{background-color: #FFF2E7; padding: 5px 0; position: relative;}
.iteminfo-wrap .p-price{color: #ff0000; line-height: 22px; height: 22px;}
.iteminfo-wrap .p-price span{font-size: 16px;}
.iteminfo-wrap .p-price strong{font-size: 22px;}
.iteminfo-wrap .buy-num-wrap{height: 26px; border: 1px #DDD solid;}
.iteminfo-wrap .buy-num-wrap .btn{
    float: left; width: 30px; text-align: center; cursor: pointer;
    line-height: 24px; font-size: 16px; background-color: #f0f0f0;
}
.iteminfo-wrap .buy-num-wrap .buy-num{
    height: 24px; text-align: center; background-color: #fff;
    border-color: #DDD; border-style: solid; border-width: 0 1px 0 1px;
    width: 60px; float: left; font-size: 16px;
}
.iteminfo-wrap .btn-lg {
    font-size: 16px; margin-right: 10px;
    height: 38px;  line-height: 36px;  padding: 0 30px; border: 1px #E12D2C solid;
    background-color: #E12D2C; color: #fff; display: inline-block; border-radius: 2px;
}
.iteminfo-wrap .btn-buy-now{background-color: #FFE4CF; color: #e5511d; border-color: #f0cab6;}
.iteminfo-wrap .radio{font-size: 12px; height: 14px; width: 14px;}
.iteminfo-wrap .p-stat{position: absolute; top: 0; right: 10px; font-size: 12px;}
.iteminfo-wrap .p-stat li{display: block; padding: 10px; float: left;}
.iteminfo-wrap .p-stat li h3{font-size: 14px; text-align: center;}
.iteminfo-wrap .p-stat li p{font-size: 12px; text-align: center; display: block; padding-top: 7px;}

.shopinfo-wrap{width: 200px; float: right; border: 1px solid #ffe2a3;}
.shopinfo-wrap .shop-header{display: block;}
.shopinfo-wrap .shop-header img{width: 100%; height: auto; display: block; border: 0;}
.shopinfo-wrap .shopinfo{display: block; padding: 20px 15px;}
.shopinfo-wrap .shopinfo h3{font-size: 12px; height: 20px; display: block; margin-bottom: 5px;}
.shopinfo-wrap .shopinfo .row{height: 20px; display: block; margin-bottom: 5px;}
.shopinfo-wrap .shopinfo .row dl{font-size: 12px;}
.shopinfo-wrap .shopinfo .row dl dt{width: 40px; float: left; color: #666;}
.shopinfo-wrap .shopinfo .separate{height: 1px; clear: both; border-bottom: 1px #DDD dotted;}
.shopinfo-wrap .shopinfo .btn{
    height: 28px; width: 77px; background-color: #fafafa;
    display: inline-block; font-size: 12px;
    border: 1px #e5e5e5 solid; border-radius: 3px;
    line-height: 26px; text-align: center;
}
.shopinfo-wrap .shopinfo .btn:hover{border-color: #ddd; background-color: #f5f5f5;}

.item-detail{display: block; position: relative;}
.item-detail .tabbar-wrap{background-color: #f2f2f2; display: block; height: 44px; border: 1px #DDD solid;}
.item-detail .tabbar-wrap .tabbar{float: left; position: relative;}
.item-detail .tabbar-wrap .tabbar li{float: left; width: 130px; height: 42px; border-right: 1px #DDD solid;}
.item-detail .tabbar-wrap .tabbar li a{display: block; line-height: 42px; font-size: 14px; text-align: center;}
.item-detail .tabbar-wrap .tabbar li.cur{background-color: #fff; margin-bottom: -1px; height: 43px;}
.item-detail .tabbar-wrap .tabbar li.cur a{color: #ff0000;}
.item-detail .detail-content{display: block; padding-top: 20px; font-size: 14px; text-align: justify;}
.item-detail .detail-content *{max-width: 100%;}