@import "../iconfont/iconfont.css";
a{cursor:pointer;}
*{box-sizing: border-box;}
.ui-checkbox,.ui-radio{height:16px; width:16px; display:inline-block; vertical-align:0; margin:0;}
.ui-textfield,.ui-textarea,.ui-select{box-sizing:border-box; resize:none; border:1px #CCC solid; border-radius:1px; width:200px; padding:3px 5px; font-size:13px;}
.ui-textfield,.ui-select{height:28px; line-height:28px; vertical-align:middle;}
.ui-textfield:hover,.ui-textarea:hover,.ui-select:hover{border-color:#0086B6; background-color:#EFFAF7;}
.ui-button{box-sizing:border-box; padding:5px 15px; border-radius:3px; display:inline-block; font-size:12px; border-radius:1px; cursor:pointer; vertical-align:middle;}
.ui-button,a.ui-button{background-color:#2EA2CC; color:#fff; border:0;}
.ui-button:hover{background-color:#1e8cbe; color:#fff;}

.ui-table{}
.ui-table th,.ui-table td{padding:10px 0; font-size:12px; text-align:left; padding-right:10px;}

.ui-overlayer{position:fixed; left:0; top:0; z-index:999; opacity:0.4; background:#000; width:100%; height:100%;}
.ui-dialog {width:400px; background:#fff; box-shadow:3px 3px 7px #999; border-radius:3px; position:fixed; z-index:9999; overflow:hidden; border:1px #999 solid;}
.ui-dialog .dialog-title {font-size:16px; position:relative; padding:10px 15px; border-bottom:1px #ddd solid; background-image:linear-gradient(#fff, #eee); background-color:#f9f9f9; font-weight:400;}
.ui-dialog .dialog-title .close{
    font-size:20px; position:absolute; top: 0; right:0; cursor:pointer; text-align: center;
    width:42px; height:42px; line-height: 42px; margin:0; padding:0; color:#666; font-weight:900;
}
.ui-dialog .dialog-title .close:hover{color:#930;}
.ui-dialog .dialog-title strong{font-weight:500;}
.ui-dialog .dialog-content {padding:0; box-sizing:border-box; clear:both; overflow-wrap: break-word;}
.ui-dialog .dialog-footer {padding:10px; position:relative; border-top:1px #f0f0f0 solid; background:#f8f8f8; text-align:center;}
.ui-dialog .dialog-footer .ui-button-no{background-color:#f8f8f8; margin-left:10px; color:#666; border:1px #DDD solid;}
.ui-dialog .dialog-footer .ui-button-no:hover{background-color:#e8e8e8; color:#333;}
.ui-dialog .dialog-footer .ui-button{width:80px; text-align:center; border-radius:3px;}
.ui-dialog .ui-confirm-content{text-align:center; font-size:14px; padding:40px 20px;}
.ui-dialog .content-success{font-size:14px; color:#060;}
.ui-dialog .content-error{font-size:14px; color:#C30;}
.ui-dialog .dialog-create-album{display:block; margin:20px;}

.ui-message-box{display:block; position:fixed; z-index:99999; border-radius:3px; box-shadow:2px 2px 5px #999;}
.ui-message-box .message-div{padding:15px 20px; border-radius:3px; color:#fff; white-space:nowrap;}
.ui-message-box .message-success {background-color:#70B46E;}
.ui-message-box .message-error {background-color:#FF002D}
.ui-message-box .message-warning {background-color:#FAA722;}
.ui-message-box .message-infomation {background-color:#53A9C2;}
.ui-message-box .message-text{font-size:15px; display:inline;}
.ui-message-box .message-icon{font-size:18px; width:auto; height:18px; line-height:18px; margin:1px 6px 0 0; float:left; display:inline-block; vertical-align:middle;}

.ui-confirm-box {width:180px; background:#fefefe; border:#d5d5d5 1px solid; border-radius:3px; box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);}
.ui-confirm-box dl{clear:both;}
.ui-confirm-box dl dt{padding:20px 15px 0; font-size:12px; line-height:1.0; margin:0; text-align:center;}
.ui-confirm-box dl dd{padding:15px; clear:both; text-align:center; margin:0;}
.ui-confirm-box dl dd .btn{display:inline-block; cursor:pointer; height:22px; line-height:22px; padding:0 10px; border-radius:3px;}
.ui-confirm-box dl dd .btn-yes{background:#80BF1D; color:#fff; border:1px #80BF1D solid;}
.ui-confirm-box dl dd .btn-yes:hover{background:#64A402; border:1px #64A402 solid;}
.ui-confirm-box dl dd .btn-no{margin-left:10px; background-color:#fefefe; color:#333; border:1px #E2E2E2 solid;}
.ui-confirm-box dl dd .btn-no:hover{background-color:#f8f8f8;}

.ui-tips-box{position:absolute; z-index:500; background-color:#000; border-radius:3px; padding:7px 10px; font-size:10px; line-height:1.0; color:#fff;}
.ui-tips-arrow{position:absolute; z-index:500; background-image:url(../images/common/arrow-down.png); background-repeat:no-repeat; background-size:100% 100%; width:16px; height:16px; display:block;}

.ui-loading-box{position:absolute; z-index:9999; background:#fff; border:2px #999 solid; border-radius:20px; padding:10px 20px; font-size:14px; text-align:center;}
.ui-loading-box .ico{margin-right:5px; vertical-align:-2px; background:url(../images/common/loading16.gif) no-repeat; width:16px; height:16px; display:inline-block;}
.ui-spinner{
    position:fixed; z-index:1000; width:80px; height:80px; display:block;
    border-radius:10px; background-color:#f5f5f5;
    background-image:url(../images/common/spinner.gif);
    background-repeat:no-repeat; background-size:70% 70%;
    background-position:center center;
    animation: 1s linear 0s normal none infinite running spin;
}

.ui-message-warp{width:980px; margin:40px auto 20px; clear:both; background:#fff; border:1px #ddd solid; border-radius:5px; min-height:300px; height:auto;}
.ui-message-warp .message-content{margin:0 auto; min-height:200px; padding:50px 0;}
.ui-message-warp .message-content:after{clear:both; display:block;}
.ui-message-warp .message-detail{font-size:20px; padding:20px; clear:both; text-align:center;}
.ui-message-warp .message-detail .icon{font-size:22px; margin-right:10px; vertical-align:1px;}
.ui-message-warp .message-success{color:#363;}
.ui-message-warp .message-error{color:#F00;}
.ui-message-warp .meesage-warning{color:#666;}
.ui-message-warp .message-information{color:#396;}
.ui-message-warp .message-tips{width:80%; padding:7px 0; margin:0 auto; clear:both; line-height:1.6; font-size:12px; color:#444; text-align:center;}
.ui-message-warp .message-links{padding:10px; text-align:center; font-size:14px; clear:both; margin-top:20px;}
.ui-message-warp .message-links a{margin:0 5px;}
.ui-message-warp .message-links a:hover{text-decoration:underline;}
.ui-sortable-placeholder {border:2px #0099CC dashed !important; visibility: visible !important; display:block !important; background:none !important;}

/**图片选择器**/
.ui-pickerview{height:480px; overflow:hidden; display:block;}
.ui-pickerview .picker-content{display:block; overflow:hidden; height:300px; position:relative;}
.ui-pickerview .picker-scroll{display:block; position:absolute; right:-20px; bottom:-20px; padding:0 20px 20px 0; left:0; top:0; overflow:auto; overflow-x:hidden;}
.ui-pickerview .pickerview{display:block; margin-top:20px;}
.ui-pickerview .sider{display:block; float:left; border-right:1px #d7d7d7 solid; height:480px; width:18%;}
.ui-pickerview .sider .group-list{display:block; color:#666;}
.ui-pickerview .sider .group-list li{font-size:14px; height:33px; line-height:33px; text-align:left; overflow:hidden;}
.ui-pickerview .sider .group-list li a{display:block; padding:0 20px;}
.ui-pickerview .sider .group-list li a:hover{background-color:#f7f7f7;}
.ui-pickerview .pickerview-content{margin-left:18%; overflow:hidden;}
.ui-pickerview .title-bar{display:block; border-bottom:1px #d7d7d7 solid; text-align:right; padding:10px 15px;}
.ui-pickerview .title-bar .btn{border-radius:3px; position:relative;}
.ui-pickerview .pickerview-scroll-hd{position:relative; height:400px; overflow:hidden; margin:10px;}
.ui-pickerview .pickerview-scroll{position:absolute; left:0; top:0; right:-20px; bottom:-20px; padding:0 20px 20px 0; overflow:auto; overflow-x:hidden;}
.ui-pickerview .image-list{display:block; margin:0 -10px -10px 0;}
.ui-pickerview .image-list dl{float:left; margin:0px; width:20%;}
.ui-pickerview .image-list dl dd{display:block; cursor:pointer; padding-top:100%; position:relative; margin:0 10px 10px 0; background-size:cover; background-repeat:no-repeat; background-position:center top;}
.ui-pickerview .image-list dl dd div{background-image:url(../images/common/translucent-40.png); display:none; position:absolute; width:100%; height:100%; left:0; top:0;}
.ui-pickerview .image-list dl dd div i{display:block; margin:30% auto 0; width:50px; height:50px; background-image:url(../images/common/ok.png); background-size:100% 100%;}
.ui-pickerview .image-list dl.checked dd div{display:block;}
.ui-pickerview .filedata{position:absolute; left:0; top:0; width:100%; height:100%; opacity:0;}
.ui-pickerview .ajax-loader{
    position:absolute; top:0;
    right:0px; width:228px; height:33px;
    border:1px #DDD solid; background-color:#f8f8f8;
    background-image:url(../images/common/ajax_loader.gif);
    background-repeat:no-repeat;
    background-position:center;
    display:none;
    border-radius:5px;
}

/**文件选择器**/
.ui-pickerview .file-list{display:block; margin:0 -20px 20px 0;}
.ui-pickerview .file-list-table{}
.ui-pickerview .file-list-table th,.ui-pickerview .file-list-table td{padding:10px 0; text-align:left;}
.ui-pickerview .file-list-table th{background-color: #f9f9f9; background-image: linear-gradient(#fff, #eee);}
.ui-pickerview .file-list-table td{border-bottom:1px #DDD solid;}
.ui-pickerview .file-list-table tr:hover td{background:#f8f8f8;}
.ui-pickerview .file-list-table th.type{width:60px;}
.ui-pickerview .file-list-table th.size{width:80px; text-align:right;}
.ui-pickerview .swfbtn{width:80px; height:30px; padding:0; border-radius:3px; overflow:hidden; position:relative; display:inline-block;}
.ui-pickerview .swfbtn .txt{display:block; text-align:center; line-height:30px; color:#fff;}
.ui-pickerview .swfbtn .swf{position:absolute; left:0; top:0; z-index:100;}
.ui-pickerview .dialog-upload-queue{display:none; position:absolute; width:100%; left:0; top:0;}
.ui-pickerview .file-upload-item{display:block; margin-top:10px; border:1px #d7d7d7 solid; background-color:#f8f8f8; padding:10px; position:relative; border-radius:3px; overflow:hidden;}
.ui-pickerview .file-upload-item .cancel{position:absolute; top:10px; right:10px; border:0; background:none; font-size:18px;}
.ui-pickerview .file-upload-item .success{position:absolute; top:10px; right:10px; border:0; background:none; font-size:18px; color:#093; display:none;}
.ui-pickerview .file-upload-item .name{display:block; font-size:14px;}
.ui-pickerview .file-upload-item .progress{display:block; margin-top:10px; height:10px; position:relative; background:#e5e5e5;}
.ui-pickerview .file-upload-item .progress .bar{width:0; height:100%; display:block; position:absolute; left:0; top:0; background-color:#16A0D0;}

.ui-dialog-upload{display:block; height:450px;}
.ui-dialog-upload .title-bar{display:block; padding:10px 15px; border-bottom:1px #D7D7D7 solid; text-align:right;}
.ui-dialog-upload .title-bar .btn{position:relative; width:80px; height:30px; border-radius:3px; padding:0;}
.ui-dialog-upload .title-bar .btn span{display:block; line-height:30px; text-align:center;}
.ui-dialog-upload .title-bar .swfbutton{position:absolute; left:0; top:0; width:100%; height:100%;}
.ui-dialog-upload .upload-div{display:block; margin:10px; position:relative; height:400px; overflow:hidden;}
.ui-dialog-upload .upload-div .scrollView{position:absolute; left:0; top:0; bottom:-20px; right:-20px; overflow:auto;}
.ui-dialog-upload .upload-div .queue{display:block; margin:0 20px 20px 0;}
.ui-dialog-upload .upload-div .file-item{display:block; margin-top:10px; border:1px #d7d7d7 solid; background-color:#f8f8f8; padding:10px; position:relative; border-radius:3px; overflow:hidden;}
.ui-dialog-upload .upload-div .file-item .cancel{position:absolute; top:10px; right:10px; border:0; background:none; font-size:18px;}
.ui-dialog-upload .upload-div .file-item .success{position:absolute; top:10px; right:10px; border:0; background:none; font-size:18px; color:#093; display:none;}
.ui-dialog-upload .upload-div .file-item .name{display:block; font-size:14px;}
.ui-dialog-upload .upload-div .file-item .progress{display:block; margin-top:10px; height:10px; position:relative; background:#e5e5e5;}
.ui-dialog-upload .upload-div .file-item .progress .bar{width:0; height:100%; display:block; position:absolute; left:0; top:0; background-color:#16A0D0;}

