{template header_common}
<div class="area">
    {eval $cat_list=goods_get_cat_list()}
    <div class="category-panel">
        <ul class="cat-list" id="cat-list">
            {loop $goods_cat_list[0] $cat}
            <li><a href="{U:('m=goods&c=search&catid='.$cat[catid])}"><span>{$cat[name]}</span></a></li>
            {/loop}
        </ul>
        <div class="childs-panel" id="childs-panel">
            {loop $goods_cat_list[0] $cat}
            <div class="cat-group">
                <h3><a href="{U:('m=goods&c=search&catid='.$cat[catid])}" class="more">更多 >></a> {$cat[name]}</h3>
                <ul>
                    {loop $goods_cat_list[$cat[catid]] $child}
                    <li><a href="{U:('m=goods&c=search&catid='.$child[catid])}">{$child[name]}</a></li>
                    {/loop}
                </ul>
            </div>
            {/loop}
        </div>
    </div>
    <div class="home-main">
        <div class="swiper-div" id="swiper-div">
            <div class="swiper" id="swiper">
                <ul class="swiper-wrapper">
                    {eval $slide_list=block_get_cache(1)}
                    {loop $slide_list $sd}
                    <li class="swiper-slide"><a href="{$sd[url]}" target="_blank"><img src="{img $sd[image]}"></a></li>
                    {/loop}
                </ul>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <script type="text/javascript">
            (function(){
                var swiper = new Swiper('#swiper',
                        {loop:true,pagination:'.swiper-pagination',autoplay:2500});
            })();
        </script>
        <div class="news">
            <div class="content">
                <h3>农产品资讯</h3>
                <ul>
                    {eval $itemlist=post_get_item_list(0,13)}
                    {loop $itemlist $item}
                    <li><a href="/?m=post&c=detail&id={$item[id]}" target="_blank">&bull; {$item[title]}</a></li>
                    {/loop}
                </ul>
            </div>
        </div>
        
        <div class="best-goods-wrap">
            <ul class="best-goods">
                {eval $best_list=block_get_cache(2)}
                {loop $best_list $item}
                <li><div class="bd"><a href="{$item[url]}"><img src="{img $item[image]}"></a></div></li>
                {/loop}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function () {
    $("#cat-list li").mouseenter(function (e) {
        var self = this;
        $(this).addClass('cur').siblings().removeClass('cur');
        $("#childs-panel").show();
        $("#childs-panel .cat-group").eq($(this).index()).show().siblings('.cat-group').hide();
        $(document).mousemove(function (e) {
            $("#childs-panel").hide();
            $(self).removeClass('cur');
        });
    }).mousemove(function (e) {
        DSXUtil.stopPropagation(e);
    });
    $("#childs-panel").mousemove(function (e) {
        DSXUtil.stopPropagation(e);
    });
});
</script>
<div class="blank10"></div>
<div class="area">
    <div class="home-tegong">
        <h3>今日特供</h3>
        {eval $tegong=block_get_item(array('id'=>8))}
        <div class="pic"><a href="{$tegong[url]}"><img src="{img $tegong[image]}"></a></div>
    </div>
    <div class="home-youxuan">
        <ul class="tabs">
            <li class="cur">爆品抢购</li>
            <li>优选推荐</li>
            <li>精品速递</li>
            <li>好评单品</li>
            <li>猜你喜欢</li>
        </ul>
        <ul class="glist">
            {loop $goods_list['new'] $goods}
            <li>
                <div class="bd">
                    <div class="pic bg-cover lazyload" data-original="{img $goods[goods_thumb]}">
                        <a href="{U:('m=goods&c=item&id='.$goods[id])}" target="_blank"></a>
                    </div>
                    <div class="name"><a href="{U:('m=goods&c=item&id='.$goods[id])}" target="_blank">{$goods[goods_name]}</a></div>
                    <div class="price">
                        <strong class="shop-price">￥:{amount:$goods[goods_price]}</strong>
                        <span class="market-price"><s>市场价:{amount:$goods[market_price]}</s></span>
                    </div>
                    <div class="buynow">
                        <a href="{U:('m=goods&c=item&id='.$goods[id])}" target="_blank" class="btn">立即购买</a>
                    </div>
                </div>
            </li>
            {/loop}
        </ul>
    </div>
</div>
<div class="blank"></div>
<div class="area home">
    <div class="yingyangcan-title">
        <a href="{U:('m=goods&c=search')}" class="more">更多>></a>
        <strong>营养餐</strong>
    </div>
    <div class="yingyangcan-list">
        <ul>
            {loop $goods_list['hot'] $goods}
            <li>
                <div class="bd">
                    <div class="pic bg-cover lazyload" data-original="{img $goods[goods_thumb]}">
                        <a href="{U:('m=goods&c=item&id='.$goods[id])}" target="_blank"></a>
                    </div>
                    <div class="name"><a>{$goods[goods_name]}</a></div>
                    <div class="price">
                        <span>￥</span>
                        <strong>{amount:$goods[goods_price]}</strong>
                        <i>起</i>
                    </div>
                </div>
            </li>
            {/loop}
        </ul>
    </div>
</div>
<div class="blank"></div>
<div class="area home">
    <div class="qiyedianpu-title">
        <a href="{U:('m=shop&c=index')}" class="more">更多>></a>
        <strong>企业店铺</strong>
    </div>
    <div class="qiyedianpu-wrap">
        <div class="shop-list">
            <ul>
                {loop $shop_list $shop}
                <li>
                    <div class="bd">
                        <div class="pic bg-cover lazyload" data-original="{img $shop[shop_logo]}">
                            <a href="{U:('m=shop&c=viewshop&shop_id='.$shop[shop_id])}" target="_blank"></a>
                        </div>
                        <div class="name"><a href="{U:('m=shop&c=viewshop&shop_id='.$shop[shop_id])}" target="_blank">{$shop[shop_name]}</a></div>
                    </div>
                </li>
                {/loop}
            </ul>
        </div>

        <div class="remai">
            <h3 class="hot-sale">掌柜热卖</h3>
            <ul>
                {loop $goods_list['new'] $goods}
                <li>
                    <div class="pic bg-cover lazyload" data-original="{img $goods[goods_thumb]}">
                        <a href="{U:('m=goods&c=item&id='.$goods[id])}" target="_blank"></a>
                    </div>
                    <div class="g-info">
                        <p class="name"><a href="{U:('m=goods&c=item&id='.$goods[id])}" target="_blank">{$goods[goods_name]}</a></p>
                        <p class="market-price"><s>￥{amount:$goods[market_price]}</s></p>
                        <p class="shop-price">￥{amount:$goods[goods_price]}</p>
                    </div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
</div>
{template footer_common} 