{template header}
<div class="wellcome-div">
    <div class="txt">{$_G[username]}, 欢迎你!</div>
</div>
<div class="mcenter-content-div" style="height:120px;">
    <div class="headimg-div">
        <div class="avatar"><img src="{echo avatar($_G[uid])}"></div>
        <div class="a-setting"><a href="/?m=$_G[m]&c=setting&a=modiinfo">设置头像</a></div>
    </div>
    <div class="user-account">
        <div class="row">
            <div class="item">用户角色：<i>{$_G[group][title]}</i></div>
            <div class="item">上次登录：<i>{echo @date('Y-m-d H:i:s', $last_login[dateline])}</i></div>
            <div class="item">账户状态：<i>正常</i></div>
        </div>
        <div class="row">
            <div class="item"><a href="/?m={$_G[m]}&c=setting&a=userinfo"><span class="iconfont icon-my"></span>修改个人资料</a></div>
            <div class="item"><a href="/?m=usercenter&c=setting&a=security"><span class="iconfont icon-mobile"></span>手机已绑定</a></div>
            <div class="item"><a href="/?m=usercenter&c=setting&a=security"><span class="iconfont icon-mail"></span>邮箱已绑定</a></div>
        </div>
    </div>
</div>

<div class="mcenter-content-div">
    <div class="console-title"><strong>每日任务</strong></div>
</div>
{template footer}