{template header}
<div class="console-title">
	<h2>附件管理</h2>
</div>
<div class="table-wrap">
<form method="post" action="" autocomplete="off">
<input type="hidden" name="formsubmit" value="yes" />
<input type="hidden" name="formhash" value="{FORMHASH}">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
<thead>
  <tr>
    <th width="20">选?</th>
    <th>附件名称</th>
    <th width="120">用户</th>
    <th width="100">大小</th>
    <th width="80">类型</th>
    <th width="110">上传时间</th>
  </tr>
 </thead>
 <tbody>
  {loop $attachlist $attach}
  <tr>
    <td><input type="checkbox" class="checkbox checkmark" name="delete[]" value="{$attach[attachid]}"></td>
    <th>{$attach[attachname]}</th>
    <td>{$userlist[$attach[uid]][username]}</td>
    <td>{echo formatsize($attach[attachsize])}</td>
    <td>{$attach[attachtype]}</td>
    <td>{echo @date('Y-m-d H:i', $attach[attachtime])}</td>
  </tr>
  {/loop}
  </tbody>
  <tfoot>
  <tr>
        <td colspan="10">
        	<label><input type="checkbox" class="checkbox checkall"> 全选</label>
        </td>
  </tr>
  <tr>
      <td colspan="10">
          <span class="pages">{$pages}</span>
          <input type="submit" class="button" value="删除">
          <input type="button" class="button cancel" value="{$lang[refresh]}" onclick="window.location.reload()">
      </td>
  </tr>
 </tfoot>
</table>
</form>
</div>
{template footer}