{template header}
<div class="console-title">
    <a href="{U:("c=block&a=add_item&block_id=$block_id")}" class="button float-right">添加项目</a>
    <h2>板块内容列表</h2>
</div>
<div class="content-div table-wrap">
    <form method="post">
        <input type="hidden" name="formsubmit" value="yes">
        <input type="hidden" name="formhash" value="{FORMHASH}">
        <table cellpadding="0" cellspacing="0" width="100%" class="listtable border-none">
            <thead>
                <tr>
                    <th width="40">删?</th>
                    <th width="70">图片</th>
                    <th width="320">标题</th>
                    <th>链接</th>
                    <th width="50">选项</th>
                </tr>
            </thead>
        </table>
        <div class="sortable">
            {loop $itemlist $item}
            <table cellspacing="0" cellpadding="0" width="100%" class="listtable border-none">
                <tbody>
                    <tr>
                        <td width="40"><input type="checkbox" class="checkbox" name="delete[]" value="{$item[id]}"></td>
                        <td width="70"><img src="{img $item[image]}" width="50" height="50" rel="pickimg" data-id="{$item[id]}"></td>
                        <td width="320"><input type="text" class="input-text w300" name="itemlist[{$item[id]}][title]" value="{$item[title]}"></td>
                        <td><input type="text" class="input-text w400" name="itemlist[{$item[id]}][url]" value="{$item[url]}"></td>
                        <td width="50"><a href="{U:('c=block&a=edit_item&block_id='.$block_id.'&id='.$item[id])}">编辑</a></td>
                    </tr>
                </tbody>
            </table>
            {/loop}
        </div>
        <table cellpadding="0" cellspacing="0" width="100%" class="listtable border-none">
            <tfoot>
                <tr>
                    <td>
                        <input type="submit" class="button" value="提交">
                        <input type="button" class="button button-cancel" value="刷新" onclick="DSXUtil.reFresh()">
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("img[rel=pickimg]").on('click', function () {
            var self = this;
            var id = $(this).attr('data-id');
            DSXUI.showImagePicker(function (data) {
                $(self).attr('src', data.imageurl);
                $.ajax({
                    url:"{U:('c=block&a=set_item_image')}",
                    data:{id:id,image:data.image, block_id:'{$block_id}'},
                    dataType:'json',
                    success:function (response) {

                    }
                });
            });
        });
    });
</script>
{template footer}