{template header}
<div class="console-title">
    <div class="float-right">
        <form name="search" action="/?">
            <input type="hidden" name="m" value="{$_G[m]}">
            <input type="hidden" name="c" value="{$_G[c]}">
            <input type="hidden" name="a" value="{$_G[a]}">
            <input type="text" class="input-text" name="q" value="{$q}" placeholder="商品名称">
            <input type="submit" class="button" value="{$_lang[search]}">
        </form>
    </div>
    <h2>商品管理->商品列表</h2>
</div>
<div class="content-div">
    <form method="post" id="listForm" autocomplete="off">
        <input type="hidden" name="formsubmit" value="yes">
        <input type="hidden" name="formhash" value="{FORMHASH}">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="listtable">
            <thead>
            <tr>
                <th width="20"><input type="checkbox" class="checkbox checkall"></th>
                <th width="80">图片</th>
                <th>商品名称|卖家</th>
                <th>价格</th>
                <th>销量</th>
                <th width="80">状态</th>
                <th width="140">上架时间</th>
            </tr>
            </thead>
            <tbody>
            {loop $itemlist $itemid $item}
            <tr id="row_{$id}">
                <td><input type="checkbox" class="checkbox checkmark" name="items[]" value="{$itemid}"></td>
                <td><a href="{U:('m=item&c=item&id='.$id)}" target="_blank"><div class="bg-cover" style="background-image: url({img $item[thumb]}); width: 80px; height: 80px;"></div></a></td>
                <td>
                    <h3 class="title"><a href="{U:('m=item&c=item&itemid='.$itemid)}" target="_blank">{$item[title]}</a></h3>
                    <p class="subtitle"><a href="{U:('m=shop&c=viewshop&shop_id='.$item['shop_id'])}" target="_blank">{$shop_list[$item[shop_id]][shop_name]}</a></p>
                </td>
                <td>
                    {if $item[market_price]}<p>{amount:$item[market_price]}</p>{/if}
                    <p><strong>{amount:$item[price]}</strong></p>
                </td>
                <td>{$item[sold]}</td>
                <td>
                    {if $item[on_sale]}
                    出售中
                    {else}
                    已下架
                    {/if}
                </td>
                <td>{date:$item[create_time]|'Y-m-d H:i:s'}</td>
            </tr>
            {/loop}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="20">
                    <div class="pagination float-right">{$pages}</div>
                    <label><input type="checkbox" class="checkbox checkall"> 全选</label>
                    <label><input type="radio" class="radio" name="option" value="delete"> 删除</label>
                    <label><input type="radio" class="radio" name="option" value="on_sale" checked> 上架</label>
                    <label><input type="radio" class="radio" name="option" value="off_sale"> 下架</label>
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    <input type="submit" class="button" toggle-status="true" value="提交" id="submit-button">
                    <input type="button" class="button button-cancel" value="刷新" onclick="DSXUtil.reFresh()">
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("a[rel=delete]").on('click', function (e) {
            var itemid = $(this).attr('data-id');
            DSXUI.confirmDialog({
                title:'删除商品',
                text:'你确定要删除此商品吗?',
                onConfirm:function (dlg) {
                    $.ajax({
                        url:"{U:('c=item&a=delete')}",
                        data:{itemid:itemid},
                        dataType:'json',
                        success:function (response) {
                            $("#row_"+itemid).remove();
                        }
                    });
                }
            });
        });
    });
</script>
{template footer}