{template header}
<div class="console-title">
    <div class="float-right">
        <a href="{echo U('c=page&a=category')}" class="button">分类管理</a>
        <a href="{echo U("c=page&a=itemlist&catid=$catid")}" class="button">返回列表</a>
    </div>
    <h2>{if $G[a]=='add'}添加页面{else}编辑页面{/if}</h2>
</div>
<div class="area">
    <form method="post" action="">
    <input type="hidden" name="formsubmit" value="yes" />
    <input type="hidden" name="formhash" value="{FORMHASH}">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formtable">
    <tr>
      <td>标题</td>
      <td><input type="text" class="input-text w300" name="newpage[title]" value="{$page[title]}"></td>
      <td>别名</td>
      <td><input type="text" class="input-text w300" name="newpost[alias]" value="{$page[alias]}"></td>
    </tr>
    <tr>
      <td width="60">分类</td>
      <td>
            <select name="newpage[catid]" class="w300">
            {loop $categorylist $clist}
            <option value="{$clist[pageid]}"{if $page[catid]==$clist[pageid]} selected{/if}>{$clist[title]}</option>
            {/loop}
            </select>
      </td>
      <td width="60">模板</td>
      <td><input type="text" class="input-text w300" name="newpage[template]" value="{$page[template]}"></td>
    </tr>      
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formtable">
    <tr>
      <td width="60">摘要</td>
      <td><textarea style="width:100%;" name="newpage[summary]">{$page[summary]}</textarea></td>
      <td width="200"><input type="submit" class="submit button-publish f-right" value="{if $G[a]=='edit'}更新{else}发布{/if}" id="publishButton"></td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formtable">
    <tr>
      <td><div style="box-sizing:border-box">{template editor}</div></td>
    </tr>
  </table>
  </form>
</div>
{template footer}