{template header}
<div class="console-title">
	<div class="float-right">
        <a href="{echo U('a=add&catid='.$catid)}" class="button">添加页面</a>
    </div>
    <h2>页面管理</h2>
</div>
<div class="toolbar">
	<a href="" class="baritem" style="margin-left:0;">全部</a>
    {loop $categorylist $clist}
    <a href="{echo U('catid='.$clist[pageid])}" class="baritem">{$clist[title]}</a>
    {/loop}
</div>
<div class="table-wrap">
<form method="post" action="">
    <input type="hidden" name="formsubmit" value="yes" />
    <input type="hidden" name="formhash" value="{FORMHASH}">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
    <thead>
      <tr>
        <th width="20">删?</th>
        <th>标题</th>
        <th>别名</th>
        <th width="80">排序</th>
        <th width="120">发布时间</th>
        <th width="120">最后修改</th>
        <th width="40">编辑</th>
      </tr>
     </thead>
     <tbody>
      {loop $pagelist $item}
      {eval $pageid=$item[pageid]}
      <tr>
        <td><input type="checkbox" class="checkbox checkmark" name="delete[]" value="{$pageid}"></td>
        <th><a href="{echo U('m=page&c=detail&pageid='.$pageid)}" target="_blank">{$item[title]}</a></th>
        <td>{$item[alias]}</td>
        <td><input type="text" class="input-text w60" name="pagelist[{$pageid}][displayorder]" value="{$item[displayorder]}" /></td>
        <td>{echo @date('Y-m-d H:i',$item[pubtime])}</td>
        <td>{echo @date('Y-m-d H:i',$item[modified])}</td>
        <td><a href="{echo U('a=edit&pageid='.$pageid)}">编辑</a></td>
      </tr>
      {/loop}
      </tbody>
      <tfoot>
        <tr>
            <td colspan="10">
            <label><input type="checkbox" class="checkbox checkall"> 全选</label>
            </td>
        </tr>
        <tr>
          <td colspan="10">
              <span class="pages">{$pages}</span>
              <input type="submit" class="button" value="提交">
              <input type="button" class="button cancel" value="刷新" onclick="window.location.reload()">
          </td>
        </tr>
     </tfoot>
</table>
</form>
</div>
{template footer}