{template header}
<div class="console-title">
    <div class="float-right">
        <form name="search" action="/?">
            <input type="hidden" name="m" value="{$_G[m]}">
            <input type="hidden" name="c" value="{$_G[c]}">
            <input type="hidden" name="a" value="{$_G[a]}">
            <input type="text" class="input-text" name="q" value="{$q}" placeholder="店铺名称">
            <input type="submit" class="button" value="{$_lang[search]}">
        </form>
    </div>
    <h2>店铺管理->店铺列表</h2>
</div>
<div class="content-div">
    <form method="post" id="listForm" autocomplete="off">
        <input type="hidden" name="formsubmit" value="yes">
        <input type="hidden" name="formhash" value="{FORMHASH}">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="listtable">
            <thead>
            <tr>
                <th width="20"><input type="checkbox" class="checkbox checkall checkmark"></th>
                <th width="70">LOGO</th>
                <th>店铺名称</th>
                <th>店主账号</th>
                <th>电话</th>
                <th width="80">营业状态</th>
                <th width="120">开店时间</th>
            </tr>
            </thead>
            <tbody>
            {loop $itemlist $item}
            <tr id="row_{$goods[id]}">
                <td><input type="checkbox" class="checkbox checkmark" name="ids[]" value="{$item[shop_id]}"></td>
                <td>
                    <a href="{U:('m=shop&c=viewshop&shop_id='.$item['shop_id'])}" target="_blank">
                        <div class="bg-cover lazyload" data-original="{img $item[shop_logo]}" style="width: 50px; height: 50px;"></div>
                    </a>
                </td>
                <td><a href="{U:('m=shop&c=viewshop&shop_id='.$item['shop_id'])}" target="_blank">{$item[shop_name]}</a></td>
                <td>{$item[owner_username]}</td>
                <td>{$item[phone]}</td>
                <td>
                    {if $item[shop_status]=='OPEN'}
                    <span style="color: #4cae4c;">营业中</span>
                    {else}
                    <span style="color: #ff0000">已打烊</span>
                    {/if}
                </td>
                <td>{date:$item[create_time]|'Y年m月d日'}</td>
            </tr>
            {/loop}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="20">
                    <div class="pagination float-right">{$pages}</div>
                    <label><input type="checkbox" class="checkbox checkall checkmark"> 全选</label>
                    <label><input type="radio" class="radio" name="option" value="delete"> 删除</label>
                    <label><input type="radio" class="radio" name="option" value="open" checked> 开启</label>
                    <label><input type="radio" class="radio" name="option" value="close"> 关闭</label>
                </td>
            </tr>
            <tr>
                <td colspan="20">
                    <input type="submit" class="button" toggle-status="true" value="提交" id="submit-button">
                    <input type="button" class="button button-cancel" value="刷新" onclick="DSXUtil.reFresh()">
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>
{template footer}