{template header}
<div class="console-title">
	<div class="float-right">
    	<form name="search" action="/?">
          <input type="hidden" name="m" value="{$_G[m]}">
          <input type="hidden" name="c" value="{$_G[c]}">
          <input type="hidden" name="a" value="{$_G[a]}">
          <span>输入关键字：</span>
          <input type="text" class="input-text" name="q" value="{$q}">
          <input type="submit" class="button" value="{$_lang[search]}">
      </form>
    </div>
    <h2>交易记录</h2>
</div>

<div class="content-div">
    <form method="post">
    <input type="hidden" name="formsubmit" value="yes" />
    <input type="hidden" name="formhash" value="{FORMHASH}">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listtable">
    <thead>
      <tr>
        <th width="40" class="center">选?</th>
        <th width="50">头像</th>
        <th>名称 | 流水 | 收款方账户</th>
        <th>付款账户</th>
        <th width="100">金额</th>
        <th width="140">时间</th>
        <th width="60">状态</th>
      </tr>
     </thead>
     <tbody>
      {loop $itemlist $trade_id $item}
      <tr>
        <td class="center"><input type="checkbox" class="checkbox checkmark" name="trade_id[]" value="{$trade_id}"></td>
        <td><img src="{echo avatar($item[payer_uid])}" width="30" height="30"></td>
        <td>
        	<h3 class="title">{$item[trade_name]}</h3>
            <p class="subtitle">
                <span>{$item[trade_no]} |</span>
                <a href="{U:('m=shop&c=viewshop&uid='.$item['payee_uid'])}" target="_blank">{$item[payee_name]}</a>
            </p>
        </td>
        <td>{$item[payer_name]}</td>
        <td>{echo formatAmount($item[trade_fee])}</td>
        <td>{echo @date('Y-m-d H:i:s',$item[trade_time])}</td>
        <td>{$_lang[trade_status][$item[trade_status]]}</td>
      </tr>
      {/loop}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="10">
            <label><input type="checkbox" class="checkbox checkall"> {$_lang[selectall]}</label>
            <label><input type="radio" class="radio" name="option" value="delete" checked> 删除</label>
        </td>
      </tr>
      <tr>
          <td colspan="10">
              <span class="pagination float-right">{$pages}</span>
              <input type="submit" class="button" value="{$_lang[submit]}">
              <input type="button" class="button" value="下载记录" id="J_download">
              <input type="button" class="button button-cancel" value="{$_lang[refresh]}" onclick="window.location.reload()">
          </td>
      </tr>
     </tfoot>
    </table>
    </form>
</div>
<iframe id="J_frame" src="" style="display: none;"></iframe>
<script type="text/javascript">
    var waiting = null;
    function downloadRecord() {
        $.ajax({
            url:"{U:('c=trade&a=download&q='.$q)}",
            dataType:'json',
            success:function (response) {
                if (response.errcode == 0){
                    setTimeout(function () {
                        downloadRecord();
                    }, 500);
                }else {
                    waiting.close();
                    $("#J_frame").attr('src', "{U:('c=trade&a=get_excel')}");
                }
            }
        });
    }
    $(function () {
        $("#J_download").on('click', function () {
            DSXUI.showConfirm('下载过程可能需要花费几分钟，在此期间请不要关闭页面',function () {
                waiting = DSXUI.showloading('正在导出数据...');
                downloadRecord();
            });
        });
    });
</script>
{template footer}