{template header}
<div class="swiper-div" id="swiper-div" style="padding-top: 50%;">
    <div class="swiper" id="swiper">
        <ul class="swiper-wrapper">
            {eval $slide_list=block_get_cache(1)}
            {loop $slide_list $sd}
            <li class="swiper-slide"><span href="{$sd[url]}" class="bg bg-cover asyncload" data-original="{img $sd[image]}"></span></li>
            {/loop}
        </ul>
        <div class="swiper-pagination"></div>
    </div>
</div>
<script type="text/javascript">
    (function(){
        var swiper = new Swiper('#swiper',
            {loop:true,pagination:'.swiper-pagination',autoplay:2500});
    })();
</script>

<div class="shop">
    <div class="title-tuijian">
        <div class="line"></div>
        <span class="title">热铺推荐</span>
    </div>

    <div class="shop-horizontal-list">
        <ul>
            {loop $shop_list $shop}
            <li>
                <div class="bd">
                    <div class="pic bg-cover lazyload" data-original="{img $shop[shop_logo]}" handler="viewShop" data-id="{$shop[shop_id]}"></div>
                    <div class="name">{$shop[shop_name]}</div>
                    <div class="line">
                        <span>已售{$shop[total_sold]}件</span>
                        <strong>￥{amount:$item[goods_price]}</strong>
                    </div>
                </div>
            </li>
            {/loop}
        </ul>
    </div>
</div>
<script type="text/javascript">
    onBridgeReady(function (bridge) {
        $("[handler=viewMenu]").on('click', function () {
            var menu = $(this).attr('menu');
            bridge.callHandler('viewMenu', menu);
        });
    });
</script>
{template footer}