{template header_common}

<div class="yourpos">
    <div class="area">
        <a>营养餐</a>
        <span> > </span>
        <a>水果</a>
        <span> > </span>
        <span>{$goods[short_name]}</span>
    </div>
</div>
<div style="height: 10px; clear: both;"></div>
<div class="area">
    <div class="preview-wrap">
        <div class="preview">
            <div id="vertical" class="bigImg">
                {loop $gallery $ga}
                <img src="{img $ga[image]}" width="400" height="400" alt="" id="midimg" />
                {/loop}
                <div style="display:none;" id="winSelector"></div>
            </div>
            <!--bigImg end-->
            <div class="smallImg">
                <div class="scrollbutton smallImgUp disabled"></div>
                <div id="imageMenu">
                    <ul>
                        {loop $gallery $k $ga}
                        <li{if $k==0} id="onlickImg"{/if}>
                            <img src="{img $ga[thumb]}" alt=""/>
                            <!--<div class="bd bg-cover" style="background-image: url({img $ga[thumb]})"></div>-->
                        </li>
                        {/loop}
                    </ul>
                </div>
                <div class="scrollbutton smallImgDown"></div>
            </div>
            <!--smallImg end-->
            <div id="bigView" style="display:none;"><img width="800" height="800" alt="" src="" /></div>
        </div>
    </div>
    <form method="post" id="J_Frmbuy" action="{U:('m=buy&c=order&a=buy_now')}">
        <input type="hidden" name="goods_id" value="{$id}">
        <input type="hidden" name="goods_number" value="1" id="J_goods_number">
        <input type="hidden" name="shipping_type" value="1" id="J_shipping_type">
        <input type="hidden" name="pay_type" value="1" id="J_pay_type">
        <input type="hidden" name="from" value="item_detail">
    </form>
    <div class="iteminfo-wrap">
        <h1 class="item-name">{$goods[goods_name]}</h1>
        <div class="item-brief">{$goods[goods_brief]}</div>
        <div class="price-wrap">
            <div class="item-group" style="padding: 5px 10px;">
                <div class="label">市 场 价</div>
                <div class="info">
                    {if $goods[market_price]}
                    <span style="font-size: 16px; color: #666;"><s>￥{amount:$goods[market_price]}</s></span>
                    {else}
                    <span style="font-size: 16px; color: #666;"><s>￥{amount:$goods[goods_price]}</s></span>
                    {/if}
                </div>
            </div>
            <div class="item-group" style="padding: 5px 10px;">
                <div class="label">粗 耕 价</div>
                <div class="info">
                    <div class="p-price">
                        <span>￥</span>
                        <strong>{amount:$goods[goods_price]}</strong>
                    </div>
                </div>
            </div>
            <ul class="p-stat">
                <li>
                    <h3>0</h3>
                    <p>累计评论</p>
                </li>
                <li>
                    <h3>100</h3>
                    <p>交易成功</p>
                </li>
            </ul>
        </div>

        <dl class="item-group">
            <dd class="label">配送方式</dd>
            <dt class="info">
                <label><input type="radio" class="radio shipping_type" name="shipping_type" value="1" checked> 快递</label>
                <label><input type="radio" class="radio shipping_type" name="shipping_type" value="2"> 物流配送</label>
                <label><input type="radio" class="radio shipping_type" name="shipping_type" value="3"> 上门自取</label>
            </dt>
        </dl>
        <div class="item-group">
            <div class="label">购买数量</div>
            <div class="info">
                <div class="buy-num-wrap">
                    <span class="btn" id="operate-left">-</span>
                    <input type="text" class="buy-num" value="1" id="quantity">
                    <span class="btn" id="operate-right">+</span>
                </div>
            </div>
        </div>
        <dl class="item-group">
            <dd class="label">支付方式</dd>
            <dt class="info">
                <label><input type="radio" class="radio pay_type" name="pay_type" value="1" checked> 在线支付</label>
                <label><input type="radio" class="radio pay_type" name="pay_type" value="2"> 货到付款</label>
            </dt>
        </dl>
        <div class="item-group">
            <div class="info">
                <a class="btn-lg btn-buy-now" id="btn-buy-now">立即购买</a>
                <a class="btn-lg" id="add-to-cart">加入购物车</a>
            </div>
        </div>
    </div>
    <!--goodsinfo end-->
    <div class="shopinfo-wrap">
        <div class="shop-header">
            <img src="/static/images/common/shop-header.png">
        </div>
        <div class="shopinfo">
            <h3 title="{$shop[shop_name]}">{$shop[short_shop_name]}</h3>
            <div class="row">
                <dl>
                    <dt>信誉</dt>
                    <dd>
                        <img src="/static/images/common/icon-guan.gif">
                        <img src="/static/images/common/icon-guan.gif">
                        <img src="/static/images/common/icon-guan.gif">
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt>掌柜</dt>
                    <dd title="{$shop[owner_username]}">{$shop[short_owner_username]}</dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt>电话</dt>
                    <dd>{$shop[phone]}</dd>
                </dl>
            </div>
            <div class="separate"></div>
            <div class="row" style="padding: 10px 0 20px;">
                <a href="{U:('m=shop&c=viewshop&shop_id='.$goods[shop_id])}" class="btn" style="margin-right: 10px;">进入店铺</a>
                <a class="btn">收藏店铺</a>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<div class="blank"></div>
<div class="area">
    <div class="item-detail" id="detail">
        <div class="tabbar-wrap">
            <ul class="tabbar">
                <li class="cur"><a>宝贝详情</a></li>
                <li><a>累计评论</a></li>
            </ul>
        </div>
        <div class="detail-content">
            {$goods_desc[content]}
        </div>
    </div>

    <div class="item-detail-right">
        <div class="inner">
            <h3 class="hot-sale-title">掌柜热卖</h3>
            <ul class="hot-item-list">
                {loop $hot_sale_list $item}
                <li>
                    <div class="g-pic bg-cover lazyload" data-original="{img $item[goods_thumb]}">
                        <div class="g-name"><p>{$item[goods_name]}</p></div>
                        <a href="{U:('m=goods&c=item&id='.$item[id])}" target="_blank" title="{$item[goods_name]}"></a>
                    </div>
                    <div class="line">
                        <span class="sold">已售出<span style="color: #f40;">{$item[sold]}</span>件</span>
                        <strong class="price"><span>¥</span>{amount:$item[goods_price]}</strong>
                    </div>
                </li>
                {/loop}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#operate-left").on('click', function () {
            var goods_number = parseInt($("#quantity").val());
            if (goods_number <= 1) {
                return;
            }else {
                goods_number--;
                $("#quantity").val(goods_number);
            }
        });
        $("#operate-right").on('click', function () {
            var goods_number = parseInt($("#quantity").val());
            goods_number++;
            $("#quantity").val(goods_number);
        });
        $("#btn-buy-now").on('click', function (e) {
            var submitForm = function () {
                var shipping_type = $("input.shipping_type:checked").val();
                var pay_type = $("input.pay_type:checked").val();
                var quantity = $("#quantity").val();
                $("#J_goods_number").val(quantity);
                $("#J_shipping_type").val(shipping_type);
                $("#J_pay_type").val(pay_type);
                $("#J_Frmbuy").submit();
            }
            DSXUtil.checkLogin(function () {
                submitForm();
            }, function () {
                DSXUI.showAjaxLogin(function () {
                    submitForm();
                });
            });
        });
        $("#add-to-cart").on('click', function () {
            DSXUtil.checkLogin(function (data) {
                var goods_id = "{$id}";
                var goods_number = $("#quantity").val();
                $.ajax({
                    url:"{U:('m=cart&c=index&a=add')}",
                    data:{goods_id:goods_id,goods_number:goods_number},
                    dataType:'json',
                    success:function (response) {
                        if (response.errcode == 0){
                            DSXUI.success('已成功加入购物车');
                        }else {
                            DSXUI.error(response.errmsg);
                        }
                    }
                });
            }, function () {
                DSXUI.showAjaxLogin(function () {
                    DSXUtil.reFresh();
                });
            });
        });
    });
    (function(jQuery){
        if(jQuery.browser) return;
        jQuery.browser = {};
        jQuery.browser.mozilla = false;
        jQuery.browser.webkit = false;
        jQuery.browser.opera = false;
        jQuery.browser.msie = false;

        var nAgt = navigator.userAgent;
        jQuery.browser.name = navigator.appName;
        jQuery.browser.fullVersion = ''+parseFloat(navigator.appVersion);
        jQuery.browser.majorVersion = parseInt(navigator.appVersion,10);
        var nameOffset,verOffset,ix;

// In Opera, the true version is after "Opera" or after "Version"
        if ((verOffset=nAgt.indexOf("Opera"))!=-1) {
            jQuery.browser.opera = true;
            jQuery.browser.name = "Opera";
            jQuery.browser.fullVersion = nAgt.substring(verOffset+6);
            if ((verOffset=nAgt.indexOf("Version"))!=-1)
                jQuery.browser.fullVersion = nAgt.substring(verOffset+8);
        }
// In MSIE, the true version is after "MSIE" in userAgent
        else if ((verOffset=nAgt.indexOf("MSIE"))!=-1) {
            jQuery.browser.msie = true;
            jQuery.browser.name = "Microsoft Internet Explorer";
            jQuery.browser.fullVersion = nAgt.substring(verOffset+5);
        }
// In Chrome, the true version is after "Chrome"
        else if ((verOffset=nAgt.indexOf("Chrome"))!=-1) {
            jQuery.browser.webkit = true;
            jQuery.browser.name = "Chrome";
            jQuery.browser.fullVersion = nAgt.substring(verOffset+7);
        }
// In Safari, the true version is after "Safari" or after "Version"
        else if ((verOffset=nAgt.indexOf("Safari"))!=-1) {
            jQuery.browser.webkit = true;
            jQuery.browser.name = "Safari";
            jQuery.browser.fullVersion = nAgt.substring(verOffset+7);
            if ((verOffset=nAgt.indexOf("Version"))!=-1)
                jQuery.browser.fullVersion = nAgt.substring(verOffset+8);
        }
// In Firefox, the true version is after "Firefox"
        else if ((verOffset=nAgt.indexOf("Firefox"))!=-1) {
            jQuery.browser.mozilla = true;
            jQuery.browser.name = "Firefox";
            jQuery.browser.fullVersion = nAgt.substring(verOffset+8);
        }
// In most other browsers, "name/version" is at the end of userAgent
        else if ( (nameOffset=nAgt.lastIndexOf(' ')+1) <
                (verOffset=nAgt.lastIndexOf('/')) )
        {
            jQuery.browser.name = nAgt.substring(nameOffset,verOffset);
            jQuery.browser.fullVersion = nAgt.substring(verOffset+1);
            if (jQuery.browser.name.toLowerCase()==jQuery.browser.name.toUpperCase()) {
                jQuery.browser.name = navigator.appName;
            }
        }
// trim the fullVersion string at semicolon/space if present
        if ((ix=jQuery.browser.fullVersion.indexOf(";"))!=-1)
            jQuery.browser.fullVersion=jQuery.browser.fullVersion.substring(0,ix);
        if ((ix=jQuery.browser.fullVersion.indexOf(" "))!=-1)
            jQuery.browser.fullVersion=jQuery.browser.fullVersion.substring(0,ix);

        jQuery.browser.majorVersion = parseInt(''+jQuery.browser.fullVersion,10);
        if (isNaN(jQuery.browser.majorVersion)) {
            jQuery.browser.fullVersion = ''+parseFloat(navigator.appVersion);
            jQuery.browser.majorVersion = parseInt(navigator.appVersion,10);
        }
        jQuery.browser.version = jQuery.browser.majorVersion;
    })(jQuery);
    $(document).ready(function(){
        // 图片上下滚动
        var count = $("#imageMenu li").length - 4; /* 显示 6 个 li标签内容 */
        var interval = $("#imageMenu li:first").width();
        var curIndex = 0;

        $('.scrollbutton').click(function(){
            if( $(this).hasClass('disabled') ) return false;
            if ($(this).hasClass('smallImgUp')) --curIndex;
            else ++curIndex;

            $('.scrollbutton').removeClass('disabled');
            if (curIndex == 0) $('.smallImgUp').addClass('disabled');
            if (curIndex == count-1) $('.smallImgDown').addClass('disabled');
            $("#imageMenu ul").stop(false, true).animate({"marginLeft" : -curIndex*interval + "px"}, 600);
        });

        // 解决 ie6 select框 问题

        $.fn.decorateIframe = function(options) {
            if ($.browser.msie && $.browser.version < 7) {
                var opts = $.extend({}, $.fn.decorateIframe.defaults, options);
                $(this).each(function() {
                    var $myThis = $(this);
                    //创建一个IFRAME
                    var divIframe = $("<iframe />");
                    divIframe.attr("id", opts.iframeId);
                    divIframe.css("position", "absolute");
                    divIframe.css("display", "none");
                    divIframe.css("display", "block");
                    divIframe.css("z-index", opts.iframeZIndex);
                    divIframe.css("border");
                    divIframe.css("top", "0");
                    divIframe.css("left", "0");
                    if (opts.width == 0) {
                        divIframe.css("width", $myThis.width() + parseInt($myThis.css("padding")) * 2 + "px");
                    }
                    if (opts.height == 0) {
                        divIframe.css("height", $myThis.height() + parseInt($myThis.css("padding")) * 2 + "px");
                    }
                    divIframe.css("filter", "mask(color=#fff)");
                    $myThis.append(divIframe);
                });
            }
        }

        $.fn.decorateIframe.defaults = {
            iframeId: "decorateIframe1",
            iframeZIndex: -1,
            width: 0,
            height: 0
        }

        //放大镜视窗
        $("#bigView").decorateIframe();
        //点击到中图
        var midChangeHandler = null;
        $("#imageMenu li img").on("click", function(){
            if ($(this).attr("id") != "onlickImg") {
                midChange($(this).attr("src").replace("small", "mid"));
                $("#imageMenu li").removeAttr("id");
                $(this).parent().attr("id", "onlickImg");
            }
        }).on("mouseover", function(){
            if ($(this).attr("id") != "onlickImg") {
                window.clearTimeout(midChangeHandler);
                midChange($(this).attr("src").replace("small", "mid"));
                $(this).css({ "border": "3px solid #959595" });
            }
        }).on("mouseout", function(){
            if($(this).attr("id") != "onlickImg"){
                $(this).removeAttr("style");
                midChangeHandler = window.setTimeout(function(){
                    midChange($("#onlickImg img").attr("src").replace("small", "mid"));
                }, 1000);
            }
        });

        function midChange(src) {
            $("#midimg").attr("src", src).load(function() {
                changeViewImg();
            });
        }

        //大视窗看图
        function mouseover(e) {
            if ($("#winSelector").css("display") == "none") {
                $("#winSelector,#bigView").show();
            }
            $("#winSelector").css(fixedPosition(e));
            e.stopPropagation();
        }

        function mouseOut(e) {
            if ($("#winSelector").css("display") != "none") {
                $("#winSelector,#bigView").hide();
            }
            e.stopPropagation();
        }

        $("#midimg").mouseover(mouseover); //中图事件
        $("#midimg,#winSelector").mousemove(mouseover).mouseout(mouseOut); //选择器事件
        var $divWidth = $("#winSelector").width(); //选择器宽度
        var $divHeight = $("#winSelector").height(); //选择器高度
        var $imgWidth = $("#midimg").width(); //中图宽度
        var $imgHeight = $("#midimg").height(); //中图高度
        var $viewImgWidth = $viewImgHeight = $height = null; //IE加载后才能得到 大图宽度 大图高度 大图视窗高度
        function changeViewImg() {
            $("#bigView img").attr("src", $("#midimg").attr("src").replace("mid", "big"));
        }

        changeViewImg();
        $("#bigView").scrollLeft(0).scrollTop(0);
        function fixedPosition(e) {
            if (e == null) {
                return;
            }
            var $imgLeft = $("#midimg").offset().left; //中图左边距
            var $imgTop = $("#midimg").offset().top; //中图上边距
            X = e.pageX - $imgLeft - $divWidth / 2; //selector顶点坐标 X
            Y = e.pageY - $imgTop - $divHeight / 2; //selector顶点坐标 Y
            X = X < 0 ? 0 : X;
            Y = Y < 0 ? 0 : Y;
            X = X + $divWidth > $imgWidth ? $imgWidth - $divWidth : X;
            Y = Y + $divHeight > $imgHeight ? $imgHeight - $divHeight : Y;

            if ($viewImgWidth == null) {
                $viewImgWidth = $("#bigView img").outerWidth();
                $viewImgHeight = $("#bigView img").height();
                if ($viewImgWidth < 200 || $viewImgHeight < 200) {
                    $viewImgWidth = $viewImgHeight = 800;
                }

                $height = $divHeight * $viewImgHeight / $imgHeight;
                $("#bigView").width($divWidth * $viewImgWidth / $imgWidth);
                $("#bigView").height($height);
            }

            var scrollX = X * $viewImgWidth / $imgWidth;
            var scrollY = Y * $viewImgHeight / $imgHeight;
            $("#bigView img").css({ "left": scrollX * -1, "top": scrollY * -1 });
            $("#bigView").css({ "top": 75, "left": $(".preview").offset().left + $(".preview").width() + 15 });
            return { left: X, top: Y };
        }
    });
</script>
{template footer_common}